@import url('https://fonts.googleapis.com/css2?family=Montserrst&display=swap');
body{
    background-image: linear gradient(#f33c97);
    height:122vh;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px; 
    padding: 0px; 
    font-family: 'Montserrat', sans-serif;
 }
 .main{
     background-color: white;
     height: auto;
     width: 850px;
     position: absolute;
     /* transform: translate(-50%, -50%); */
     left: 30%;
 }
 .left{
    background-color: brown;
    width: 250px;
    height: 100%;
    float: left;
 }
 .right{
    width: 600px;
    float: left;
 }
 .profile-img{
    height: 220px;
    width: 220px;
    background-color: aqua;
    border-radius: 50%;
    margin-bottom: 20px; 
    margin-left: 100px;
    border: 10px solid #fbb03b;
    box-shadow: 6px 7px 9px #fbb03b73;
 }
 .profile-img img{
    height: inherit;
    width: inherit;
    border-radius: 50%;
 }
 .box-1{
    position: relative;
 }
 .heading{
    background-color: #4d4d4d;
    padding: 10px;
    color: #fbb03b;
    text-align: left;
    padding-left: 20px;
    margin-right: -5px;
 }
 .heading::after{
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;
    top: 26px;
    transform: rotate(56degree);
    z-index: -1;
 }
 .p1{
    padding:9px 10px;
    font-size: 11px;
 }
 .icons1{
    /* font-size: 16px !important; */
    /* padding-right: 10px !important; */
    /* vertical-align: sub; */
    height: 20px;
    width: 20px;
    position: absolute;
 }
 .skill-container{
    width: 90%;
    background-color: #4d4d4d ;
    margin: 0px 10px;
 }
 .skill{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
 }
 .html{
    width: 90%;
    background-color: white;
 }
 .css{
    width: 80%;
    background-color: white;
 }
 .javascript{
    width: 85%;
    background-color: white;
 }
.python{
    width: 80%;
    background-color: white;
}
.web{
   width: 85%;
   background-color: white;
}
.gra{
   width: 70%;
   background-color: white;
}
.icons2{
   padding: 18px 10px;
}
.name-div{
   padding: 40px 0px 60px 80px;
   text-align: center;
   letter-spacing: 2px;
}
.name-div h1{
   /* margin-left: 150px; */
   color: #5a5959;
   font-size: 35px;
}
.box-2{
   padding:0px 50px;
   margin-top: 50px;
}
.p2{
   font-size: 20px;
   font-weight: 300;
   letter-spacing: 1px;
   word-spacing: 1px;
   line-height: 20px;
   margin-top: 5px;
}
.box2 h2{
   font-size: 16px;
   margin-bottom: 15px;
}

.cions3{
   vertical-align: bottom;
   font-size: 21px;
   color: #4d4d4d;
}
.p3{
   font-size: 18px;
   word-spacing: 1px;
   letter-spacing: 0px;
   margin-top: 10px;
}
.p3 span{
   color: #f0c687; 
   padding-left: 10px;
   font-weight: lighter;
}
.contact-details {
   padding: 0px 5px 0px 10px;
   font-size: small;
}
.contact-details p{
   padding: 2px 5px 0px 25px;
   font-size: small;
}